<!--<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h3 style=" text-align: center;">component to component communication using subject and BehaviourSubject</h3>
    </div>
<div class="row">
    <div class="col-lg-6">
      <app-compo1></app-compo1>
    </div>

    <div class="col-lg-6">
      <app-compo2></app-compo2>
    </div>
  </div>
 </div>
</div>  -->
<div class="container-fluid">
  <div class="card">
    <div class="card header">
      <h2 align="center">Comp com. Interaction using Subject & Behevior Subject</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <app-component1></app-component1>
      </div>
      <div class="col-lg-6">
        <app-component2></app-component2>
      </div>

    </div>
  </div>
</div>